<nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <a style="cursor: pointer" class="navbar-brand" routerLink="/">Gajal</a>
    </div>
  <ul class="nav navbar-nav">
    <li><a style="cursor: pointer" routerLink="/">Home</a></li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><button class="btn btn-success btn-sm" routerLink="/admin">Add Photos</button></li>
    <!--<li><a style="cursor: pointer" (click)="onGet()">Get</a></li>-->
  </ul>
  </nav>

