
<div class="row">

  <div class="col-ld-8 col-md-8 col-md-offset-2">
    <span class="posted">{{posted}}</span>
    <form [formGroup]="gajalForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="image">ImageUrl</label>
        <input type="text" class="form-control" formControlName="image">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="" cols="30" rows="10" class="form-control" formControlName="description">Description</textarea>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!gajalForm.valid">Submit</button>

    </form>
  </div>
</div>
